/*
###############################################################################

	 Styles for Virginia Code Site
	 Fall 2010
	 
	 Devs: 
	 * all lowercase attributes
	 * please alphabetize each attribute wihtin an element call


	 Colors:
	 * #444 text
	 * #f4eee5 light beige
	 * #dccbaf dark beige
	 * #1b8be1 link blue
	 * #3e4648 slate gray
###############################################################################
*/


/*
###############################################################################
# BASE STYLES                 												  #
###############################################################################
*/

/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
* {
	text-rendering: optimizelegibility; /* There have been reported problems with this, see the link above for some of the reported bugs */
}


/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
	font-size: 100%; /*   font-size: 16px;  */
	-webkit-overflow-scrolling: touch; 
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	line-height: 1.636em;
}

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, 
button,
select, 
input, 
textarea {
	color: #444;
	font-family: sans-serif;
}

table { 
	font-size: inherit;
	font: 100%; 
}

select, 
input, 
textarea { 
	font: 99% sans-serif; 
}

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, 
code, 
kbd, 
samp {
	font-family: monospace, sans-serif;
}

/*
###############################################################################
Standard Elements */

p {
	hyphenate: auto; /* http://webtypography.net/Rhythm_and_Proportion/Etiquette_of_Hyphenation_and_Pagination/2.4.3/ */
	hyphenate-lines: 3;
	margin-bottom: 5px;
	orphans:4;
	widows:4;
}

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
	padding: 15px; 
	
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
	 by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }


/* These selection declarations have to be separate.
	 No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection { 
	background-color: #bdf;
	color; #fff;
	text-shadow: none;
}

::selection {
	background-color: #bdf;
	color; #fff;
	text-shadow: none;
} 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #ff5E99; } 


/* make buttons play nice in IE:  
	 www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
	width: auto; 
	overflow: visible;
}
 
/* bicubic resizing for non-native sized IMG: 
	 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/*
###############################################################################
Non-semantic helper classes */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
	 css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
	 www.webaim.org/techniques/css/invisiblecontent/ 
	 Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;  
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }


/* 
###############################################################################
END RESET/STANDARIZED STUFF, START INTERNAL STYLES */


html {
}

body {
	background-color: #fff;
	background-image: url("/images/templates/default/bkgnd-header.png"), url("/images/templates/default/bkgnd-noise.png");
	background-repeat: repeat-x, repeat;
	background-position: top left, top left;
	font-family: Georgia, "Times New Roman", serif; /*"Hoefler Text", Baskerville, Garamond, "Palatino Linotype",*/
	margin: 0;
	min-width: 300px;
	padding: 2.0em;
}

abbr {
	/* Small caps looks awesome in a nice sans serif
	http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.6/ */
	font-style: normal;
	font-variant: small-caps;
	font-size: 1.2em;
	text-transform: lowercase;
}


/* 
###############################################################################
HEADLINES */

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif; /* Windows systems rarely have helvetica installed */
	font-weight: normal;
	page-break-inside:never;
}



/*
###############################################################################
Links */

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
	outline: none;
}

a, 
a:link {
	color: #1b8be1;
}

a:hover, 
a:active {
	color: #00baff;
}

a:visited{
	color: #69869d;
}

/* Link overrides */

header a, 
header a:link, 
header a:hover, 
header a:active, 
header a:visited {
	padding: 5px;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

footer a, 
footer a:link, 
footer a:hover, 
footer a:active, 
footer a:visited {
	color: #fff;
}

/*
###############################################################################
# PAGE STRUCTURE
###############################################################################
*/

section#page {
	min-width: 780px; /* keeps the page from collapsing entirely when sized down horizontally */
	margin: 15px; /* Insets page 15 px from sides and header/footer, making total min width 810px */
	overflow: hidden;
}


/* -- Columns -----------------------------------------------------------------*/

article#law {
	float: left;
	width: 70%;
}

section#sidebar {
	float: right;
	overflow: hidden;
	width: 25%;
}

/* 
###############################################################################
# HEADER
###############################################################################
*/

header {
	position: relative;
}

header hgroup {
	margin: 0 auto;
	text-align: center;
	width: 415px;
}

header h1 {
	color: #87999f;
	font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
	font-size: 3.0em;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: normal;
	margin-bottom: 15px;
	letter-spacing: -0.03em;
	text-shadow: 0px 1px 2px #fff,
	             0px -1px 1px #49585d;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
	header h1 a {
		text-decoration: none;
		color: #87999f;
	}
		header h1 a:hover {
			text-decoration: none;
		}

header h2 {
	background: transparent url('/images/templates/default/h2_tagline.png') no-repeat top left;
	height: 59px;
	width: 415px;
}

header nav#main_navigation {
	margin-bottom: 24px;
	position: absolute;
	top: 75px;
	width: 100%;
}

header nav#main_navigation ul {
	list-style: none;
}

header nav#main_navigation ul li {
	list-style-type: none;
	display: inline-block;
	font-family: "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif; /* Windows systems rarely have helvetica installed */
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0.5em 0 0;
	text-transform: uppercase;
}

header nav#main_navigation ul li a {
	padding: 0.5em; /* You want the padding on the anchor, so the whole thing is clickable */
	text-decoration: none;
}

header nav#main_navigation ul li a#home  { background: transparent url('/images/templates/default/nav_home.png') top left no-repeat; height: 23px; width: 44px;}
header nav#main_navigation ul li a#about { background: transparent url('/images/templates/default/nav_about.png') top left no-repeat; height: 23px; width: 52px;}

header nav#main_navigation ul li.utility {
	float: right;
	font-size: 0.9em;
	font-weight: normal;
	text-transform: none;
}


div#search {
	float: right;
	padding: 0;
	margin-top: -2px;
	text-align: right;
	width: 33%;
}

div#search input[type="search"] {
	width: 200px;
	margin: 0;
}

section#user_actions {
	float: right;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.6875em; /* 16 * 0.6875 = 11 */
	margin-top: 20px;
}

section#user_actions nav#user_functions {
	text-align: right;
}

section#user_actions p {
	line-height: 1.2em;
}

section#user_actions nav#user_functions ul {
	font-size: 0.9em;
	line-height: 1.4em;
	text-align: right;
}

section#user_actions nav#user_functions ul li {
	border-right: 1px solid #aaa;
	float: right;
	margin: 0;
	padding-right: 10px;
}

section#user_actions nav#user_functions ul li a {
	margin: 0;
	padding: 0;
}

section#user_actions nav#user_functions ul li:first-child {
	border-right: none;
	padding-left: 10px;
	padding-right: 0;
}



/* 
###############################################################################
# MAIN CONTENT
###############################################################################
*/

#chapter_navigation {float: right;}

#chapter_navigation #next {
	margin-left: 18px;
}

section#page {margin-top: 104px;}

section#page h1, section#page h2, section#page h3 {
	font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
	font-size: 2em;
	line-height: 1.2em;
}

section#page h2 {
	margin-top: 2em;
	font-size: 1.5em;
}

section#page h3 {
	margin-top: 2em;
	font-size: 1.25em;
}

/* Provide  multiple levels of indentation for nested code sections.*/
section.indent, section.indent-1 {margin-left: 2em;}
	section.indent-2 {margin-left: 4em;}
		section.indent-3 {margin-left: 6em;}
			section.indent-4 {margin-left: 8em;}

article#law { /* The main text of the law */
	font-size: 1em;
	line-height: 1.6em;
}

article#law p { margin: 1em 0;}

article#law p a.law {
	color: #669;
}

article#law p a.section-permalink {
	text-decoration: none;
	visibility: hidden;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .8em;
	color: #66c;
}

article#law p:hover a.section-permalink {
	visibility: visible;
}

/* Section headers .*/
article#law h2 {
	margin: 2em 0 0 0;
}
article#law h2+p {
	margin-top: 0;
}

/*	A "table" element (as opposed to a "law" element) is tabular data. This is basically ASCII art,
    tables rendered through careful spacing of type. */
article#law pre.table {
	font-size: .75em;
	overflow-x: scroll;
	white-space: pre;
}

/* A word for which we have a definition */
span.dictionary {
	border-bottom: 1px dotted #aaa;
	cursor: help;
}


section#sidebar {
	background-color: #f4eee5;
	border: 1px solid #dccbaf;
	font-family: Cambria, Georgia, serif;
	font-size: 14px;
	line-height: 17px;
	padding: 1em;
}

	section#sidebar section {
	  border-bottom: 1px solid #dccbaf;
	  padding-bottom: 1em;
	  hyphens: auto;
	  -webkit-hyphens: auto;
	  -moz-hyphens: auto;
	}
	
		section#sidebar section:last-child {
		  border-bottom: none;
		  padding-bottom: 0;
		}
	
		section#sidebar section#portfolio {
		  background: #696153 url('/images/templates/default/bkgnd_portfolio.jpg') top left no-repeat;
		  position: relative;
		  margin: -1em -1em 1em -1em;
		  overflow: hidden;
		  padding-bottom: 0em;
		}
		
			section#sidebar section#portfolio h1 {
			  background: transparent url('/images/h_add-to-portfolio.png') top left no-repeat;
			  float: left;
			  height: 32px;
			  margin: 15px 0 15px 18px;
			  width: 106px;
			}
		section#sidebar section#amendment-attempts > ul > li {
			padding-top: 1em;
		}
			section#sidebar section#amendment-attempts > ul > li > span {
				font-weight: bold;
				font-size: 14px;
				font-family: 'Helvetica Neue', Arial, Helvetica;
			}
		section#sidebar section#keyboard-guide {
			padding-top: 1em;
		}

/* Default stars to white. */
div#portfolio-toggle {
	color: #fff;
	font-size: 2em;
	position: absolute;
	top: 15px;
	right: 15px;
	text-shadow: #666 1px 1px 3px;
}

	/* Make it yellow if it's hovered or selected. */
	div#portfolio-toggle.in-portfolio, div#portfolio-toggle:hover {
	  color: #fdd017;
	  text-shadow: #666 1px 1px 3px;
	}
	
	div#portfolio-toggle:hover {
	  cursor: pointer;
	}

section#sidebar section h1 {
	font-family: Economica, sans-serif;
	font-size: 1.7em;
	font-weight: 700;
	color: #444;
	margin: 1em 0 0.25em 0;
	text-transform: uppercase;
}

section#sidebar ul li {
	list-style: none;
}

#toc {
	font-family: Verdana, Arial, sans-serif;
	font-size: .7em;
	line-height: 1.2em;
}
	#toc li.current a {
	  text-decoration: none;
	  color: #fff;
	  background-color: #000;
	  cursor: default; 
	}

/* Tag Clouds */
.tag-cloud a {
	text-decoration: none;
	color: #444;
}
	.tag-cloud a:hover {
		text-decoration: underline;
		color: #1b8be1;
	}

/* Ajax Responses */
.response {
	text-align: center;
	padding: 6px;
}
	.response.failure {
		background-color: #f00;
	}
	.response.success {
		background-color: yellow;
	}

/* Hover Tips */
.qtip-title, .qtip-button, .qtip-content {
	font-family: Verdana, Arial, sans-serif;
	font-size: .75em;
	line-height: 1.4em;
}

/* Breadcrumbs */
nav#breadcrumbs {
	margin-bottom: 1em;
}

/* Intercode Navigation */
#intercode {
	border: 1px solid #999;
	font-family: HelveticaNeue, "Helvetica Neue";
	font-size: 12px;
	left: 0;
	max-height: 24px;
	position: absolute;
	width: 99.7%;
	overflow: hidden;
	background-color: #40484b;
	color: #eee;
	margin-bottom: 1em;
}
	#intercode a {
		color: #eee;
		text-decoration: none;
	}
	#intercode .previous {
		float: left;
		width: 2%;
		min-width: 15px;
		border-right: 1px solid #fff;
		padding-left: 1px;
	}
	#intercode .title {
		float: left;
		overflow: hidden;
		width: 31%;
		position: relative;
	}
		#intercode .title:after {
			content: "";
			border-color: #40484b #40484b #40484b #eee;
			border-style: solid;
			border-width: 12px;
			width: 0;
			height: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	#intercode .chapter {
		position: relative;
		float: left;
		overflow: hidden;
		width: 31%;
	}
		#intercode .chapter:after {
			content: "";
			border-color: #40484b #40484b #40484b #eee;
			border-style: solid;
			border-width: 12px;
			width: 0;
			height: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	#intercode .section {
		float: left;
		overflow: hidden;
		width: 31%;
	}
	#intercode .next {
		float: right;
		text-align: right;
		width: 2%;
		min-width: 15px;
		border-left: 1px solid #fff;
		padding-right: 1px;
	}
	#intercode .hover {
		color: #fff;
		width: 70%;
	}
	#intercode .hover-adjacent {
		width: 5%;
	}

/* When a section catch line follows the intercode navigation, give the catch line enough of
   a margin that it doesn't layer underneath the navigation. */
#intercode + h1 {
	margin-top: 1em;
}


/* Comments */
section#comments h3 {

}

/* Section listings */
dl.level-1 dt, 
dl.level-2 dt, 
dl.laws dt {
	float: left;
	clear: left;
	margin-right: 5px;
	font-weight: bold;
}
 
dl.laws dt {
	width: 130px;
}
dl.level-1 dt
dl.level-2 dt {
	width: 60px;
}

dl.laws dd {
	margin-left: 140px; /* Keeps long lines wrapping nicely */
}
dl.level-1 dd,
dl.level-2 dd {
	margin-left: 70px;
}
dl.level-2 dd a, dl.laws dd a, dl.level-1 dd a {
	text-decoration: none;
	color: #444;
}


/* 
###############################################################################
# FOOTER
###############################################################################
*/

footer {
	background-color: #5f6d71;
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.16, rgb(63,71,73)),
	  color-stop(0.8, rgb(95,109,113))
	);
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(63,71,73) 16%,
	  rgb(95,109,113) 80%
	);
	clear: both;
	color: #bdd3db;
	font-size: 0.6875em;
	line-height: 1.636em;
	font-family: Verdana, Arial, sans-serif;
	margin: 0 -2.95em -2.95em -2.95em; /* Higher because of font downsize */
	padding: 2em;
}
	footer img {
	  float: right;
	  margin: 0 0 10px 10px;
	}


/*
###############################################################################
# UI Elements
###############################################################################
*/

/**
 * General Modal
 *
 * Lots of these styles are taken from jquery UI Bootstrap theme:
 * https://github.com/addyosmani/jquery-ui-bootstrap
 */

/* Overlay */
.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #AAAAAA;
	opacity: .30;
	filter:Alpha(Opacity=30);
}

/**
 * Totally Superfluous Blur Effect
 * Neat behind dialogs.
 */
#content {
	-webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	   -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
		 -o-transition: all 0.1s ease-out;  /* Opera 10.50–12.00 */
			transition: all 0.1s ease-out;  /* Chrome 26, FF 16+, IE 10+, Opera 12.50+ */
}
#content.behind {
	-webkit-filter: blur(2px);
	   -moz-filter: blur(2px);
		-ms-filter: blur(2px);
		 -o-filter: blur(2px);
			filter: blur(2px);
}

/**
 * Dialog Styles
 */
.ui-dialog {
	background-color: #fff;
	-webkit-box-shadow: 3px 3px 7px 1px #666;
	   -moz-box-shadow: 3px 3px 7px 1px #666;
	        box-shadow: 3px 3px 7px 1px #666;
}
	.ui-dialog .ui-dialog-titlebar {
		padding:5px 15px;
		border-bottom:1px solid #ccc;
	}
	.ui-dialog .ui-dialog-title {
		color:#404040;
		font-weight:bold;
		margin-top:5px;
		margin-bottom:5px;
		padding:5px;
	}

	.ui-dialog .ui-dialog-content {
		position: relative;
		border: 0;
		padding: 1em 1em;
		background: none;
		overflow: auto;
	}


.ui-icon-closethick {
	display: inline-block;
	float: right;
	margin-right: -15px;
	margin-top: -5px;
	font-size: 0.8em;
	background-color: #ddd;
	padding: 1px 10px;
}
	.ui-icon-closethick:hover,
	.ui-icon-closethick:active {
		background-color: #d0ddf0;
	}

/**
 * Keyboard navigation instructions
 */

/* Hide this to start */
#keyboard {
	display: none;
}
#keyboard dl {
	width: 16em;
}
	#keyboard dt,
	#keyboard dd {
		display: inline-block;
	}
	#keyboard dt {
		width: 5em;
		margin-right: 1em;
	}
	#keyboard dd {
		width: 9em;
		clear: both;
	}

/**
 * Icons
 *
 * TODO: Replace with sprites (preferably with Compass)
 *
 * Some icons from famfamfam.com (Mark James) and are public domain.
 */


.section-permalink-copy {
	/* Hide the text */
	display: inline-block;
	overflow: hidden;
	height: 0px;
	width: 16px;
	padding-top: 16px;
	
	/* Show the icon */
	background: transparent url(/images/action_paste.gif) no-repeat top left;
	
	/* Position */
	margin-left: 5px;
	vertical-align: middle;
}

/* 
###############################################################################
# RESPONSIVE TYPESETTING
###############################################################################
*/

@media screen and (max-width: 800px) {
	/* Kills columns */
	.left,
	.right,
	section.col1,
	section.col2 {float: none; width: 100%; margin-bottom: 5px;}
	section#page {min-width: 310px;}
}

@media screen and (max-width: 500px) {
	/* Kicks the size down on smaller windows e.g. iPhone */
	body { font-size: 80%; }
	article#law {width: 60%;}
}





/* Beta Banner */
#corner-banner {
	position: absolute;
	left: -65px;
	top: 25px;
	display: block;
	width: 200px;
	background: #900; /* old browsers */
	background: -moz-linear-gradient(top, #900 0%, #c00 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#900), color-stop(100%,#c00)); /* webkit */
	text-align:center;
	font-size:11px;
	line-height:13px;
	padding:3px 3px 4px 3px;
	text-shadow: #000 1px 1px 0;
	
	-moz-transform: rotate(-45deg);  /* FF3.5+ */
	-o-transform: rotate(-45deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-45deg);  /* Saf3.1+, Chrome */
	transform: rotate(-45deg);  /* CSS3 (for when it gets supported) */
	
	box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;  
	-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;  
	-webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;     
	-o-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;     
}
	#corner-banner a {
		letter-spacing: 1px;
		font-style: normal;
		font-size: 18px !important;
		color:#fff;
		text-transform:uppercase;
		line-height:12px;
		display:block;
		text-decoration: none;
	}