/*
This stylesheet is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This stylesheet is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this stylesheet.  If not, see <http://www.gnu.org/licenses/>.
*/


@media print    { 
    h1,
    p                     {  font-family: "Adobe Caslon Pro", "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif }
    #breadcrumbs          {  display: none }
    #comments h2          {  display: none }
    #corner-banner        {  display: none }
    #corner-banner span a {  display: none }
    #disqus_thread        {  display: none }
    #history h2           {  display: none }
    #history p            {  display: none }
    #masthead             {  display: none }
    #page_footer          {  display: none }
    #sidebar              {  display: none }
    body                  {  margin: 25mm 25mm 25mm 25mm;
                             background-image: url("/images/templates/default/bkgnd-noise.png");
                             background-repeat: repeat;
                             text-align: justify;
                             text-justify: inter-word; }
    .indent-1             {  margin-left: 5mm; }
    .indent-2             {  margin-left: 10mm; }
    .indent-3             {  margin-left: 15mm; }
    .indent-4             {  margin-left: 20mm; }
    .section-permalink    {  display: none }
    a                     {  color: black;
                             text-decoration: none }
    .ui-tooltip-content   {  display: none }
    .ui-tooltip-tip       {  display: none }
    .dsq-brlink           {  display: none }
}