/* The title of each search results. */
section#page h2 {
	
}

/* The excerpted text from the section. */
section#page p.excerpt {
	margin-bottom: 0;
}
	section#page p.excerpt strong {
		font-weight: normal;
		background-color: yellow;
	}

/* The title and chapter in which the section is found. */
section#page p.location {
	font-size: .85em;
	margin-top: 0;
}
	section#page p.location a {
		color: #444;
		text-decoration: none;
	}
		section#page p.location a:hover {
			color: #00baff;
			text-decoration: underline;
		}

aside#alert {
	width: 80%;
	margin: 1em auto;
	background-color: #f4eee5;
	border: 1px solid #dccbaf;
	font-family: Cambria, Georgia, serif;
	font-size: 14px;
	line-height: 17px;
	padding: 1em;
}
	aside#alert h2 {
		margin-top: 0;
	}
	
ul.paging {
	list-style-type: none;
	margin: 2em 0 0 0;
	padding: 0;
	font-family: Cambria, Georgia, serif;
	font-size: 14px;
}
	ul.paging li {
		display: inline;
		border: 1px solid #000;
		padding: .25em;
	}
		ul.paging li+li {
			margin-left: .5em;
		}
		ul.paging li a {
			text-decoration: none;
		}