.DS_Store
.vagrant/
Vagrantfile
htdocs/admin/.htpasswd
htdocs/admin/xml/
htdocs/admin/import-data/
includes/class.Virginia.inc.php
includes/config.inc.php
htdocs/.sass-cache/
package.box
.settings
.project
.buildpath
