@use "../variables/_colors.css.scss" as colors;

@use "sass:color";

@mixin gradient-vertical($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-image: linear-gradient(to bottom, $startColor, $endColor);
  background-repeat: repeat-x;
}

@mixin gradient-vertical-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
  background-color: $endColor;
  background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-repeat: no-repeat;
}

// Gradient Bar Colors for buttons and alerts
@mixin gradientBar($primaryColor, $secondaryColor) {
  @include gradient-vertical($primaryColor, $secondaryColor);
  border-color: $secondaryColor $secondaryColor color.adjust($secondaryColor, $lightness: -15%, $space: hsl);
  border-color: colors.$shadow-lightest colors.$shadow-lightest color.adjust(colors.$shadow-lightest, $alpha: 0.15);
}
