/*
Syntax error: Invalid CSS after "...coration: none;": expected "}", was "<<<<<<< HEAD"
        on line 66 of /Users/krues8dr/Sites/statedecoded.localhost/master/htdocs/static/scss/areas/_breadcrumbs.scss
        from line 66 of /Users/krues8dr/Sites/statedecoded.localhost/master/htdocs/static/scss/application.scss

Backtrace:
/Users/krues8dr/Sites/statedecoded.localhost/master/htdocs/static/scss/areas/_breadcrumbs.scss:66
/Users/krues8dr/Sites/statedecoded.localhost/master/htdocs/static/scss/application.scss:66
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1148:in `expected'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:536:in `block'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:553:in `block_child'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:27:in `parse'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:274:in `to_tree'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/bin/compass:19:in `load'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/bin/compass:19:in `<main>'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/Users/krues8dr/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...coration: none;\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 66 of /Users/krues8dr/Sites/statedecoded.localhost/master/htdocs/static/scss/areas/_breadcrumbs.scss\A         from line 66 of /Users/krues8dr/Sites/statedecoded.localhost/master/htdocs/static/scss/application.scss"; }
