// Function Specific Mixins
// ------------------------------------------------------------------

@mixin wizard-step($bgColor, $shadowTone) {
  color: $white;
  text-shadow: 0 1px 0 darken($bgColor, $shadowTone);
  background-color: $bgColor;

  &:before {
    border-top-color: $bgColor;
    border-bottom-color: $bgColor;
  }

  &:after {
    border-left-color: $bgColor;
  }
} // @mixin wizard-step

@mixin wizard-step-group($bgColor) {
  a {
    @include wizard-step($bgColor, 15%);
  }

  &:hover a {
    @include wizard-step(darken($bgColor, 20%), 20%);
  }
} // @mixin wizard-step-group



section.breadcrumbs {
  @extend %clearfix;
  clear: both;
  margin-bottom: 20px;
} // section#progress-bar

.steps-nav {
  clear: both;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  li {
    padding: 0;
    position: relative;
    float: left;

    @include respond-to(print) {
      border: none;
      clear: both;
      float: none;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 12px;
      height: $base-line-height;
      line-height: $base-line-height;
      margin-right: 20px;
      padding: 0 5px;
      color: $white !important;
      background-color: $base-lightest;
      text-decoration: none;
<<<<<<< HEAD
      padding: 0px 0 0px (5+$side-width);
      background: $base-lightest;
      position: relative;
      display: block;
      float: left;
      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: $top-bottom-width solid transparent;
        border-bottom: $top-bottom-width solid transparent;
        border-left: $side-width solid $white;
        position: absolute;
        margin-left: 1px;
        left: 100%;
        z-index: 1;

        @include respond-to(print) {
          border: none;
          clear: both;
          float: none;
        }

=======
      span {
        font-weight: bold;
>>>>>>> Updated the scss to move the static files, and clean up the scss.
      }
      &:before, &:after {
        width: 0;
        height: 0;
        position: absolute;
        content: "";
        top: 0;
<<<<<<< HEAD

        left: 100%;
        z-index: 2;

        @include respond-to(print) {
          border: none;
        }
=======
        border: $base-line-height / 2 solid $base-lightest;
        border-right-width: 0;
>>>>>>> Updated the scss to move the static files, and clean up the scss.
      }
      &:before {
        border-left: $base-line-height solid transparent;
        left: -$base-line-height;
      }
      &:after {
<<<<<<< HEAD
        border-top: $top-bottom-width solid transparent;           /* Go big on the size, and let overflow hide */
        border-bottom: $top-bottom-width solid transparent;
        border-left: $side-width solid $base-darkest;

        @include respond-to(print) {
          border: none;
          clear: both;
          float: none;
        }

=======
        border-color: transparent;
        border-left: $base-line-height  solid $base-lightest;
        right: -$base-line-height;
>>>>>>> Updated the scss to move the static files, and clean up the scss.
      }
    } // a
    &:first-child a:before {
      border-left: none;
    }
<<<<<<< HEAD
  }
}

.paging {
  .prev,
  .next {
    @include respond-to(print) {
      display: none;
    }
  }
}
=======
    &.active {
      @include wizard-step-group($base-darkest);
    }
  } // li
} // .steps-nav
>>>>>>> Updated the scss to move the static files, and clean up the scss.
