
.title-list {
  li,dt,dd {
    list-style: none;
    padding: 5px;
    a {
      text-decoration: none;
    }
    span {
      float: left;
      display: block;
      margin-right: 50px;
    }
  }
  li:nth-child(even),
  .even {
    background-color: $gray-lighter;
  }
  dt {
    float: left;
    display: block;
    width: 50px;
  }
}