
.title-list {
  margin-bottom: 200px;
  overflow: hidden;

  li,dd,dt {
    list-style: none;
    padding: 5px;
    height: 34px;
    line-height: 30px;
    overflow: hidden;
    a {
      text-decoration: none;
    }
    .child-details {
    	margin: 10px;
    	opacity: 0.7;
    }
  }
  li:nth-child(even),
  .even {
    background-color: $gray-lighter;
  }
  dt {
    clear: both;
    display: block;
    float: left;
    margin-right: 10px;
    width: 120px;
  }

  dd {
    margin-left: 120px;
  }
}