// Function Specific Mixins
// ------------------------------------------------------------------

$top-bottom-width: 12px;
$side-width: 24px;

nav.prevnext {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 0 0.5em 0;
  padding: 0.25em 0;

  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
      font-size: 0.8em;
      display: inline-block;
      list-style-type: none;
      line-height: 1.2em;
      margin: 0;
      padding: 0.25em 0.75em;
      vertical-align: top;
      width: 49%;

      a {
        text-decoration: none;
      }

      span {
        display: block;
        font-size: 0.8em;
        text-transform: uppercase;
      }

      &:first-child {
        border-right: 1px solid #eee;
        text-align: left;
      }

      &:nth-child(2) {
        float: right;
        text-align: right;
      }
    }
  }

  @include respond-to(print) {
    display: none;
  }
}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  font: 18px Helvetica, Arial, Sans-Serif;
  @include clearfix;

  @include respond-to(print) {
    margin: 0;
    padding: 0;
  }

  li {
    float: left;

    @include respond-to(print) {
      border: none;
      clear: both;
      float: none;
    }

    a {
      font-size: 12px;
      height: $base-line-height;
      line-height: $base-line-height;
      color: $white;
      text-decoration: none;
      padding: 0px 0 0px (5+$side-width);
      background: $base-lightest;
      position: relative;
      display: block;
      float: left;
      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: $top-bottom-width solid transparent;
        border-bottom: $top-bottom-width solid transparent;
        border-left: $side-width solid $white;
        position: absolute;
        margin-left: 1px;
        left: 100%;
        z-index: 1;

        @include respond-to(print) {
          border: none;
          clear: both;
          float: none;
        }

      }
      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: $top-bottom-width solid transparent;
        border-bottom: $top-bottom-width solid transparent;
        border-left: $side-width solid $base-lightest;
        position: absolute;
        top: 0;

        left: 100%;
        z-index: 2;

        @include respond-to(print) {
          border: none;
        }
      }
      &:hover {
        background: darken($base-lightest, 20%);
      }
      &:hover:after {
        border-left-color: darken($base-lightest, 20%);
      }
    }
    &:first-child a {
      padding-left: 5px;
    }
    &:last-child a {
      background: $base-darkest;
      &:after {
        border-top: $top-bottom-width solid transparent;           /* Go big on the size, and let overflow hide */
        border-bottom: $top-bottom-width solid transparent;
        border-left: $side-width solid $base-darkest;

        @include respond-to(print) {
          border: none;
          clear: both;
          float: none;
        }

      }
    }
  }
}

.paging {
  .prev,
  .next {
    @include respond-to(print) {
      display: none;
    }
  }
}