.search-results {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;

    .breadcrumbs {
      margin-bottom: 10px;
      li {
        margin-bottom: 0 !important;
      }
    }

    .edition_heading {
      margin: 0 0 10px;
      display: inline-block;
      padding: 3px 5px;
    }

    .result {
      color: $gray-darker;
      text-decoration: none;
      margin-bottom: 25px;

      h1 {
        display: inline;
        font-size: 22px;
        line-height: 24px;
        margin: 0 20px 10px 0;
      }
      p {
        margin: 0;
      }
    }

  }
  
  ul#paging {
    margin: 0 auto;
    text-align: center;
  }
    li {
      display: inline;
      list-style-type: none;
    }
  form input[type=text] {
    width: 70%;
    margin-right: 5%;
  }
}

.result span, .search-term {
  background-color: #fff799;
}
