// *****************************************************************************
// COLLAPSEABLE LISTS
// *****************************************************************************

.collapse-list {
  li {
    display: none;
    &.is-open {
      > ol > li {
        display: list-item !important;
      }
    }
  }
  > li {
    display: list-item;
  }
}