@use "_colors.css.scss" as colors;

// *****************************************************************************
// DROP DOWN VARIABLES
// *****************************************************************************

$dropdownBackground: colors.$white;
$dropdownBorder: colors.$shadow-lighter;
$dropdownlink-color: colors.$gray-dark;
$dropdownlink-color-Hover: colors.$white;
$dropdownLinkBackgroundHover:   colors.$link-color;