// *****************************************************************************
// DROP DOWN VARIABLES
// *****************************************************************************

$dropdownBackground: $white;
$dropdownBorder: $shadow-lighter;
$dropdownlink-color: $gray-dark;
$dropdownlink-color-Hover: $white;
$dropdownLinkBackgroundHover:   $link-color;