.pinned-laws {
  a {
    @include background-image(image-url("nav-icons/nav_pinned.svg"));
    &:hover {
      @include background-image(image-url("nav-icons/nav_pinned-hover.svg"));
    }
  }
}

.pinned-law-list {
  margin-left: 0;
}

#pinnedModal {
  .pin-law {
    float: left;
    font-size: 22px;
    &:hover {
      font-size: 22px;
    }
  }
  li {
    list-style: none;
  }
}

.pin-law,
.pin-law:link,
.pin-law:hover,
.pin-law:visited {
  @extend .fa;
  @extend .fa-thumb-tack;
  text-decoration: none;
  font-size: 25px;
  float: right;
  color: $gray-darker;
  margin-right: 10px;

  @include transition(all 0.1s linear);

  span {
    @extend %visually-hidden;
  }

  &:hover {
    color: $base-light;
  }

  &.pinned {
    color: $base-light;
    @include rotate(45deg);
  }
}
