# Specify our error pages.
ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# If this is a request for a plain-text version of a page, translate the extention into a specific
# request.
RewriteRule ^(.*)\.txt$ /$1/?plain_text=y [PT]

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>