RewriteEngine On
RewriteBase /api/1.0/

RewriteRule ^law/(.*)$ law.php?section=$1 [QSA]
RewriteRule ^structure/(.*)$ structure.php?identifier=$1 [QSA]
RewriteRule ^dictionary/(.*)$ dictionary.php?term=$1 [QSA]